---
layout: 'layouts/base.njk'
title: Blog | Trevor Ward
---

<h1 class="text-2xl lg:text-3xl md:text-center">
 Recent Posts
</h1>

<ul class='mt-6'>
{% for post in collections.post | reverse %}
  <li class="py-3 px-3 rounded shadow-lg mt-2 bg-indigo-900">
    <a href="{{ post.url }}">
      <p class="flex flex-row gap-10 items-center">
        <span class="text-xl link">{{ post.data.title }}</span>
	<span class="text-xs text-gray-200 italic">{{ post.date | formatDate("long") }}</span>
      </p>
      <div>
	      <p class="text-lg text-gray-200">{{ post.data.subtitle }}</p>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
