---
layout: 'layouts/base.njk'
title: Blog | Trevor Ward
---

<h1 class="text-2xl text-center lg:text-3xl">
 Blog Posts 
</h1>

<ul>
{% for post in collections.post | reverse %}
  <li class="mt-2">
    <a class="inline-block" href="{{ post.url }}">
      <p>
        <span class="text-xl link">{{ post.data.title }}</span>
      </p>
      <p class="text-lg text-gray-200">{{ post.data.subtitle }}</p>
    </a>
  </li>
{% endfor %}
</ul>
