<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trev's Website</title>
    <link rel="stylesheet" href="/css/style.css"><link>
</head>
<body class="min-h-screen bg-[#064273] flex flex-col">
    {% include 'partials/_header.html' %}
    {{ content | safe }}
    {% include 'partials/_footer.html' %}
</body>
</html>
