---
layout: 'layouts/base.njk'
---

<a href="/blog">
  &#8592; <span>..</span>
</a>

<h1 class='my-5 text-theme-2 text-4xl'>{{ title }}</h1>
<h1 class='my-5 text-theme-3 text-2xl'>{{ subtitle }}</h1>

<hr>

<article class='py-5 prose prose-invert lg:prose-xl text-theme-1'>
{{ content | safe }}
</article>
