---
layout: 'layouts/base.njk'
---

<a href="/blog">
  &#8592; <span>..</span>
</a>

<h1 class='font-serif capitalize my-5 text-theme-2 text-4xl'>{{ title }}</h1>
<h1 class='font-serif capitalize my-5 text-theme-3 text-2xl'>{{ subtitle }}</h1>

<hr>

<article class='py-5 prose prose-invert prose-p:text-[#c6c6c4] lg:prose-xl text-theme-1 prose-a:link'>
{{ content | safe }}
</article>

<hr>

<div class='font-serif text-[#c6c6c4]'>

<h4 class='mt-5 text-theme-3 text-xl'>Psst! 👋</h4> 

<p class='mt-5 text-theme-3 text-md'>Thanks for reading my post. I write about engineering, machine learning, and sometimes random topics. If you want to hear more about me and my story, click <a href='/' class='link opacity-100'>here</a>.</p>

</div>
