---
layout: 'layouts/base.njk'
title: Posts | Trevor Ward
---

<h1 class="text-2xl lg:text-3xl md:text-center">
 Recent
</h1>

<ul class='mt-6'>
{% for post in collections.post | reverse %}
  <li class="post py-3 px-3 rounded mt-2 shadow-xl bg-[#2d2d58] relative">
    <a href="{{ post.url }}">
      <p class="flex flex-row justify-between md:gap-12 items-center">
        <span class="text-xl font-bold">{{ post.data.title }}</span>
	      <span class="text-xs text-gray-200 italic opacity-75">{{ post.date | formatDate("long") }}</span>
      </p>
      <div>
	      <p class="flex flex-row justify-between md:gap-12 items-center">
          <span class='text-lg text-gray-200 opacity-50'>{{ post.data.subtitle }}</span>
          <span class='text-xs text-gray-200 opacity-25 capitalize'>{{ post.data.type }}</span>
        </p>
      </div>
      <div class="md:glow"></div>
    </div>
    </a>
  </li>
{% endfor %}
</ul>
