---
layout: 'layouts/base.njk'
--- 

  <h1 class='text-3xl lg:text-4xl text-theme-3'>Trevor is a researcher, <a class='link' href='https://www.linkedin.com/in/trevorward001/'>machine learning engineer</a>, and breakfast burrito enthusiast based in Denver.</h1>

  <h3 class='text-xl  lg:text-2xl py-6 text-theme-3'>He graduated from <a class='link' href='https://www.colorado.edu/'>CU Boulder</a> (🦬 sko buffs 🦬) with a degree in information science and business. During his studies, he advanced <a href='https://that-recsys-lab.net/home/people' class='link'>algorithmic fairness research</a> and helped build <a class='link' href='https://github.com/Blueprint-Boulder/f21s22-foster-source'>foster source</a> to connect foster parents with respite providers.</h3>

  <h5 class='text-md  lg:text-lg py-6 text-theme-3'>Currently, Trevor works at <a href='https://rippey.ai/' class='link'>Rippey.AI</a>, leading the development of machine learning solutions for logistics focused applications.</h5>

  </div>